// hellow there
DATABASE_URL="postgresql://neondb_owner:npg_Nn2RPwoi5Mqt@ep-old-rain-adw0t1ul-pooler.c-2.us-east-1.aws.neon.tech/bakery_db?sslmode=require&channel_binding=require"
JWT_SECRET=nati_mekdi_secret_key_here

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=natiman863400@gmail.com
SMTP_PASS=tzof fcii culp rskn
EMAIL_FROM_NAME=Sweet & Savory Bakery
EMAIL_FROM=natiman863400@gmail.com
EMAIL_REPLY_TO=natiman863400@gmail.com
FRONTEND_URL=http://localhost:5173
RESEND_API_KEY= re_c1orMS4c_NoSENEbnsCGToXX82XEyaJNV
RESEND_FROM=onboarding@resend.dev
